# IDE metadata
.metadata/
.jxbrowser.userdata/
.jxbrowser-data/
.tempFiles/
RemoteSystemsTempFiles/
dvt/

# Build output
Debug/
Release/
*/Debug/
*/Release/
*.o
*.d
*.out
*.elf
*.hex
*.map

# CCS specific
*/.launches/
*/.config/
*/.xdchelp/
*.launches
*.args
*.ccsproject
*.ccxml

# CSV logs
summary.csv
